<app-header-menu titulo="Perfil" color="secondary"></app-header-menu>

<ion-content class="background">
    <ion-grid>
        <ion-row class="align-center">

            <ion-col size="8">
                <div>
                    <ion-row>
                        <ion-col>
                            <img src="assets/img/icon/imglogin.png" />
                        </ion-col>
                    </ion-row>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row class="align-center">
            <ion-col size="11">
                <ion-list>
                    <ion-item>
                        <ion-label color="black" class="large-title"><b>Usuario</b>
                        </ion-label>
                        <ion-input [(ngModel)]="user.username" slot="end" disabled>
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label color="black" class="large-title"><b>Nombre</b></ion-label>
                        <ion-input [(ngModel)]="user.persona.name" name="name" slot="end" disabled>
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label color="black" class="large-title"><b>Apellidos</b></ion-label>
                        <ion-input [(ngModel)]="user.persona.father_surname" name="surname" slot="end" disabled>
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label color="black" class="large-title"><b> Correo</b></ion-label>
                        <ion-input [(ngModel)]="user.email" slot="end" disabled></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label color="black" class="large-title"><b>Rol</b></ion-label>
                        <ion-input [(ngModel)]="user.role.name" slot="end" disabled>
                        </ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>