ion-content.background {
    --background: url('../../../assets/img/fond/fondo-aurora.png') 0 0/100% 100% no-repeat;;
}

.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-button.background {
    --border-radius: 50px;
    --background-hover: #2C5DAA;
    height: 50px;
    font-size: 20px;
}
  
.large-title {
    font-size: 25px;
    font-family: 'Acme', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 7px;
}