<app-header-menu titulo="Gel Antibacterial" color="secondary"></app-header-menu>

<ion-content class="background">
    <ion-row>
        <ion-col size="12">
            <ion-row class="ion-text-center ion-margin-bottom">
                <ion-col size="12">
                    <ion-title mode="md" class="large-title" color="tertiary">PORCENTAJE</ion-title>
                    <ion-title mode="md" class="ion-margin-bottom large-title">{{ gel.percentage }}%</ion-title>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>
    <img src="assets/img/icon/imgel.png" />
</ion-content>