<app-header-menu titulo="Diagnósticos" color="secondary"></app-header-menu>

<ion-content class="background ion-padding">
    <ion-grid>
        <ion-row class="align-center" >
            <ion-col size="2">
                <div>
                    <ion-row>
                        <ion-col>
                            <img src="assets/img/icon/cod.png" />
                        </ion-col>
                    </ion-row>
                </div>
            </ion-col>
    
            <ion-col size="9">
                <div>
                    <ion-item>
                        <ion-label position="floating">Matrícula</ion-label>
                        <ion-input  name="matrícula"></ion-input>
                    </ion-item>
                </div>
            </ion-col>
          
            <ion-col size="2">
                <div>
                <ion-row>
                    <ion-col>
                        <img src="assets/img/icon/temp.png" />
                    </ion-col>
                </ion-row>
                </div>
            </ion-col>
    
            <ion-col size="9">
                <div>
                    <ion-item>
                        <ion-label>Temperatura</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </div>
            </ion-col>

            <ion-col size="2">
                <div>
                <ion-row>
                    <ion-col>
                        <img src="assets/img/icon/peso.png" />
                    </ion-col>
                </ion-row>
                </div>
            </ion-col>
    
            <ion-col size="9">
                <div>
                    <ion-item>
                        <ion-label>Peso</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </div>
            </ion-col>

            <ion-col size="2">
                <div>
                <ion-row>
                    <ion-col>
                        <img src="assets/img/icon/altura.png" />
                    </ion-col>
                </ion-row>
                </div>
            </ion-col>
    
            <ion-col size="9">
                <div>
                    <ion-item>
                        <ion-label>Altura</ion-label>
                        <ion-input></ion-input>
                    </ion-item>
                </div>
            </ion-col>

            <ion-col size="2">
                <div>
                <ion-row>
                    <ion-col>
                        <img src="assets/img/icon/sint.png" />
                    </ion-col>
                </ion-row>
                </div>
            </ion-col>
    
            <ion-col size="9">
                <div>
                    <ion-label>Observaciones</ion-label>
                </div>
            </ion-col>

            <ion-col size="11">
                <div>
                    <ion-item>
                        <ion-textarea></ion-textarea>
                    </ion-item>
                </div>
            </ion-col>

            <ion-col size="2">
                <div>
                    <ion-row>
                        <ion-col>
                            <img src="assets/img/icon/obs.png" />
                        </ion-col>
                    </ion-row>
                </div>
            </ion-col>
    
            <ion-col size="9">
                <div>
                    <ion-label>Síntomas</ion-label>
                </div>
            </ion-col>

            <ion-col size="11">
                <div>
                    <ion-item>
                        <ion-textarea></ion-textarea>
                    </ion-item>
                </div>
            </ion-col>

            <div>
                <ion-row class="ion-margin-top">
                    <ion-col offset="0.5" size="11">
                        <ion-button type="submit" shape="round" class="background">
                            Guardar
                        </ion-button>
                    </ion-col>
                </ion-row>
            </div>

        </ion-row>
    </ion-grid>
</ion-content >
